<mat-toolbar color="primary">
  Simple Blog
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-title>
      New Post
    </mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Your Name</mat-label>
        <input matInput [(ngModel)]="title">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Content</mat-label>
        <textarea matInput [(ngModel)]="content"></textarea>
      </mat-form-field>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addPost()">Add Post</button>
    </mat-card-actions>
  </mat-card>

  <mat-divider class="margin-top"></mat-divider>
  
  <mat-card *ngFor="let post of posts" class="margin-top post-card">
      <!-- <img mat-card-image src="https://via.placeholder.com/600x300" alt="Placeholder Image"> -->
      <mat-card-content>
        <p>{{ post.content }}</p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle><i>Posted on: {{ post.date | date:'short' }}</i></mat-card-subtitle>
      </mat-card-header>
      <!-- <mat-card-actions>
          <button mat-button>Read More</button>
      </mat-card-actions> -->
  </mat-card>
</div>
